<a href="https://colab.research.google.com/github/AdaFang248/python-Westminster/blob/main/11/29/2022_python5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
fruit='banana'
length=len(fruit)
print(length)
last=fruit[length-1]
print("value of last is",last)
print(fruit[-1])

6
value of last is a
a

In [5]:
fruit='apple'
position=0
while position<len(fruit):
  print(fruit[position])
  position=position+1

a
p
p
l
e

In [8]:
fruit='banana'
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [9]:
s='python rocks'
for ch in s:
  print(ch)

p
y
t
h
o
n

r
o
c
k
s

In [14]:
fruit='apple'
for idx in range(5):
  currentChar=fruit[idx]
  print(currentChar)

a
p
p
l
e

In [16]:
s='westminster'
print(s[0:4])
print(s[4:11])

west
minster

In [18]:
fruit='banana'
print(fruit[:3])
print(fruit[3:])

ban
ana

In [19]:
greeting='Hello, World!'
new_greeting='J'+greeting[1:]
print(new_greeting)
print(greeting)

Jello, World!
Hello, World!

In [23]:
word='banana'
new_word=word.upper()
print(new_word)
print(new_word.lower())
print(word[0].upper()+word[1:])

BANANA
banana
Banana

In [24]:
word='banana'
print(word.capitalize())

Banana

In [25]:
word='   banana'
print(word.strip())
print(word)

banana
   banana

In [28]:
word='banana'
print("number of time 'a' occurs in 'banana' is",word.count('a'))
print("number of time 'an' occurs in 'banana' is",word.count('an'))

number of time 'a' occurs in 'banana' is 3
number of time 'an' occurs in 'banana' is 2

In [31]:
word='banana'
print(word.replace('a','u'))
print(word)

bununu
banana

In [32]:
word='banana'
print(word.find('an'))

1

In [33]:
word='banana'
if word=='banana':
  print('They match')

They match

In [34]:
print("apple"=="Apple")

False

In [36]:
print("apple"=="Apple".lower())

True